
.headerWrapper{
    width: 100%;
    height: 80px;
    position: fixed;
    top:0;
    left: 0;
    background-color: var(--c-primary);
    /*border-bottom: 1px solid var(--c-gray);*/
    box-shadow: 0 0 0 1px rgb(0 0 0 / 12%);
    z-index: 99;
}