:root {
    --c-primary: #fff;
    --c-theme: #f4fcff;
    --c-theme-blue: #54caff;
    --c-text-color: #000;
    --c-border-color: rgb(230, 236, 240);
    --c-gray: rgba(0, 0, 0, .38);
    --c-dark-gray: #202327;
    --green: #49a361;
}